@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
* {
  margin: 0; }

.view-container .homeView .landingView {
  height: 100vh;
  width: 100vw;
  background-size: cover; }
  .view-container .homeView .landingView .search {
    display: flex;
    justify-content: center; }
  .view-container .homeView .landingView .statsButton {
    display: flex;
    justify-content: center;
    align-items: center; }
.view-container .homeView .landingHeader {
  color: black;
  font-family: Rokkit, sans-serif;
  font-weight: 200;
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-top: 20%; }
