<div class="resultsView" ng-controller="homeCtrl">
  <input class="searchTerm" placeholder="Enter your search term ..."  id="content-box" ng-model="searchTerm"/>

  <input class="searchButton" type="submit" ng-click="searchSubmit(searchTerm)"/>

  <h1>results</h1>
  <md-content layout="row">
    <leaflet flex event-broadcast='events' controls='controls' lf-center="center" url-hash-center="yes" markers="markers" layers="layers" height="550px"></leaflet>

    <md-sidenav md-is-locked-open="true" class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Drop Off</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-card>
          <md-card-content ng-repeat="result in results">
            <h1>{{result.name}}</h1>
            <p>
              {{result.address}}
            </p>
            <p>
              {{result.city}}, {{result.state}} {{result.zip}}
            </p>
          </md-card-content>
        </md-card>
      </md-content>
    </md-sidenav>
  </md-content>
</div>
